# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. This cell gives introduction for Data science Tools.

# Objectives
- List of Popular Languages of Data Science
- List of Libraries for Data Science
- List of Data Science Tools
- How to evaluate the expressions

## Author
Dr. Ranjana Kale

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA
5. Julia
6. JavaScript
7. Java
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Keras

| Data Science Tools |
|:-------------------|
|       Python       |
|  Apache Spark      |
|  Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335

In [8]:
round(200/60)

3